* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  color: #fff;
  font-family: "Poppins", sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;
  padding: 20px;
}

.logo {
  width: 80px;
  filter: invert(1); /* transforma o SVG preto em branco */
  margin-bottom: 30px;
}

h1 {
  font-size: 22px;
  margin-bottom: 10px;
}

p {
  font-size: 14px;
  opacity: 0.8;
  margin-bottom: 30px;
}

button {
  background-color: #fff;
  color: #000;
  border: none;
  padding: 10px 25px;
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #ccc;
}
